.ad-box,
.alert-info,
h4[style="position:relative"] {
    display: none !important;
}

:root {
    font-size: 16px !important;
}

#waterfall:not(:has(#waterfall)) {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
    padding: 2rem;
}

.item {
    width: 100% !important;
    position: relative;

    .photo-frame {
        background-size: cover;
        position: relative;

        img {
            aspect-ratio: 3 / 2;
            width: 100%;
        }
    }

    .photo-info {
        span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 100%;
            display: block;
        }
    }
}
