.ad-box,
.alert-info,
h4[style="position:relative"] {
  display: none !important;
}
#waterfall {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#waterfall .item {
  width: 420px;
  margin: 10px;
  border-radius: 5px;
  display: flex;
}

.movie-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

.movie-box .photo-frame,
.movie-box .photo-info {
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.movie-box img {
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.movie-box .photo-info {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 5px;
}
